<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="col-sm3"></div>
    <div class="col-sm6">
        <h1>Student Manager</h1>
    </div>
    <div class="col-sm3"></div>
</div>
<div class="container">
    <a href="/create" class="btn btn-primary">Create New Student</a>
    <table id="students">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Class</th>
            <th>Action</th>
        </tr>
        <tr th:each="student:${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.dob}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.address}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.classroom.name}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${student.id})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
<div class="container">
    <a th:href="@{'/'(page=${students.number - 1})}" th:if="${students.hasPrevious()}" class="btn btn-primary">Previous</a>
    <p th:if="${students.totalPages} > 0">
        <span th:text="${students.number + 1}"></span>/<span th:text="${students.totalPages}"></span>
    </p>
    <a th:href="@{'/'(page=${students.number + 1})}" th:if="${students.hasNext()}"
       class="btn btn-primary">Next</a>
</div>
</body>
</html>